.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  font-family: 'Open sans'
}

body {
  background-color: rgb(10, 10, 10);
}

nav {
  background-color: rgb(30, 30, 30);
}

nav div a {
  color: white;
  text-decoration: none;
}

nav ul a, 
nav ul {
  color: rgb(190, 200, 200);
  text-decoration: none;
}

nav ul li a:hover, 
nav ul li.active a {
  color: white;
  text-shadow: 0 0 1px white ;
}

@media (min-width: 768px){
  #homeContent{
    padding: 0 50px;
  }
}

.filterCell {
  background-color: rgb(30, 30, 30);
}

.filterCell:hover {
  background-color: rgb(40, 40, 50);
}

@media (max-width: 991px) {
  .columns{
    grid-template-columns: 40% 25% 35%;
  }
}
@media (min-width: 992px) {
  .columns {
    grid-template-columns: 25% auto 15% 20%;
  }
}
.columns{
  display: grid;
}

.tableBody {
  background-color: rgb(30, 30, 30);
}

.taskCell {
  background-color: rgb(30, 30, 30);
}

.taskCell:hover {
  background-color: rgb(40, 40, 50) !important;
}

.completeBtn {
  width: 80%;
}

.pagination .page-link:focus {
  box-shadow: none;
}

.cursorPointer {
  cursor: pointer;
}

.forms {
  padding-left: 20%;
  padding-right: 20%;
  color: white;
}

.forms a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.form-select:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.75) !important;
}